@page
@model RealEstateClient.Pages.AddBidModel

@{
    ViewData["Title"] = "AddBid";
}

@{
    var token = Request.Cookies["UserCookie"];
}

<h1>AddBid</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bid.BidID" />
            <div class="form-group">
                <label for="additionalBidAmount" class="control-label">Add BidAmount:</label>
                <input type="number" id="additionalBidAmount" name="additionalBidAmount" class="form-control" />
            </div>
            <div class="form-group form-check">
                @if (string.IsNullOrEmpty(token)) {
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Bid.Status" /> @Html.DisplayNameFor(model => model.Bid.Status)
                    </label>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="form-group text-danger">
    @if (string.IsNullOrEmpty(token))
    {
        @ViewData["Message"]
    }
    else
    {
        @ViewData["Success"]
    }
</div>


<div>
    <a asp-page="./UserProfile">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
